*,
html{
margin:0;
padding:0;
}

.container{
}
.ul-navbar{
 display: flex;
 height: 100px;
 justify-content: center;
 align-item: center;
}

.li-navbar{
 border: 1px solid white;
 list-style-type: none;
 padding: 20px;
 margin: 5px;
 color:black;
font-size:30px;
}

.li-navbar:hover{
    background-color: pink;
    transition:  .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}
.a-navbar{
color:black;
text-decoration: none;
}

.container-content{
    background-color:pink;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 80vh;

.img-content{
 width:  50%;
 height: 50%;
 justify-content: center;
 align-items: center;
}

.container-footer{
background-color: pink;
display:flex;
justify-content:center;
align-items: center;
}

.h1-footer{
font: size 50px;
}